{
  "$schema": "https://json.schemastore.org/swcrc",
  "exclude": [
    "\\.spec\\.ts$",
    "\\.test\\.ts$",
    "\\.e2e-spec\\.ts$",
    "/__tests__/",
    "\\.factory\\.ts$",
    "/factories/"
  ]
}
